<h2>Recipes:</h2>
<ul>
  <% @recipes.each do |recipe| %>
    <li>
      <%= recipe.name %> - Prep time <%= recipe.prep_time %> <%= recipe.difficulty %>

      <form action="/recipes" method="post">
          <input type="hidden" name="name" value="<%= recipe.name %>">
        <input type="submit" value="Delete this recipe">
      </form>
      <br>
    </li>
  <% end %>
</ul>

<a href="/new">Add a recipe</a>
<br>

<form action="/scrape_results" method="get">
  <input type="text" name="query">
  <input type="submit" value="Search LetsCookFrench">
</form>
